body {
  overflow-x: hidden;
  cursor: default;

  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;

  font-family: 'Source Code Pro';

  display: flex;
}

.app {
  flex: 1;

  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  background: #333;
  color: #fff;

  input {
    flex: 1;
    background: none;
    border: none;
    width: 100px;
    padding: 20px;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 0;

    &:focus {
      outline: 0;
      background: #ccc;
      color: #000;
    }

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }

  }
}

$breakpoint: 560px;

.gradient {
  flex: 1;
  display: flex;

  @media (max-width: $breakpoint) {
    flex-direction: column;
  }

  .panel {
    flex: 1;
    position: relative;
    transition: flex 0.5s ease;
    font-size: 30px;

    @media (max-width: 750px) {
      font-size: 20px;
    }

    &:hover {
      flex: 3;
      // min-width: 200px;

      div {
        opacity: 1;
      }
    }

    div {
      $height: 60px;

      overflow: hidden;
      opacity: 0;
      position: absolute;
      color: #fff;
      background: rgba(#000, 0.3);
      text-align: center;
      text-transform: uppercase;
      line-height: $height;
      left: 20px;
      right: 20px;
      margin-top: $height / -2;
      top: 50%;
      padding: 0 20px;

      @media (max-width: $breakpoint) {
        right: auto;
        left: 20px;
      }
    }
  }
}
